#left
  .media.user-media.bg-dark.dker
          .user-media-toggleHover
            span.fa.fa-user
          .user-wrapper.bg-dark
            a.user-link(href='')
              img.media-object.img-thumbnail.user-img(alt='User Picture', src='assets/img/user.gif')
              span.label.label-danger.user-label 16
            .media-body
              h5.media-heading Archie
              ul.list-unstyled.user-info
                li
                  a(href='') Administrator
                li
                  | Last Access :
                  br
                  small
                    i.fa.fa-calendar
                    |  16 Mar 16:32
  // #menu
  ul#menu.bg-dark.dker
          li.nav-header Menu
          li.nav-divider
          li
            a(href='dashboard.html')
              i.fa.fa-dashboard
              span.link-title  Dashboard
          li.menu-dropdown
            a(href='javascript:void(0);')
              i.fa.fa-building
              span.link-title Layouts
              span.fa.arrow
            ul.collapse(aria-expanded='false')
              li
                a(href='boxed.html')
                  i.fa.fa-angle-right
                  |   Boxed Layout
              li
                a(href='fixed-header-boxed.html')
                  i.fa.fa-angle-right
                  |   Boxed Layout & Fixed Header
              li
                a(href='fixed-header-fixed-mini-sidebar.html')
                  i.fa.fa-angle-right
                  |   Fixed Header and Fixed Mini Menu
              li
                a(href='fixed-header-menu.html')
                  i.fa.fa-angle-right
                  |   Fixed Header & Menu
              li
                a(href='fixed-header-mini-sidebar.html')
                  i.fa.fa-angle-right
                  |   Fixed Header & Mini Menu
              li
                a(href='fixed-header.html')
                  i.fa.fa-angle-right
                  |   Fixed Header
              li
                a(href='fixed-menu-boxed.html')
                  i.fa.fa-angle-right
                  |   Boxed Layout & Fixed Menu
              li
                a(href='fixed-menu.html')
                  i.fa.fa-angle-right
                  |   Fixed Menu
              li
                a(href='fixed-mini-sidebar.html')
                  i.fa.fa-angle-right
                  |   Fixed & Mini Menu
              li
                a(href='fxhmoxed.html')
                  i.fa.fa-angle-right
                  |   Boxed and Fixed Header & Nav
              li
                a(href='no-header-sidebar.html')
                  i.fa.fa-angle-right
                  |   No Header & Sidebars
              li
                a(href='no-header.html')
                  i.fa.fa-angle-right
                  |   No Header
              li
                a(href='no-left-right-sidebar.html')
                  i.fa.fa-angle-right
                  |   No Left & Right Sidebar
              li
                a(href='no-left-sidebar-main-search.html')
                  i.fa.fa-angle-right
                  |   No Left Sidebar & Main Search
              li
                a(href='no-left-sidebar.html')
                  i.fa.fa-angle-right
                  |   No Left Sidebar
              li
                a(href='no-main-search.html')
                  i.fa.fa-angle-right
                  |   No Main Search
              li
                a(href='no-right-sidebar.html')
                  i.fa.fa-angle-right
                  |   No Right Sidebar
              li
                a(href='sm.html')
                  i.fa.fa-angle-right
                  |   Mini Sidebar
         
           
          li.nav-divider
          li.menu-dropdown
            a(href='javascript:;')
              i.fa.fa-code
              span.link-title
                | Unlimited Level Menu
              span.fa.arrow
            ul.collapse
              li
                a(href='javascript:;')
                  | Level 1  
                  span.fa.arrow
                ul.collapse
                  li
                    a(href='javascript:;') Level 2
                  li
                    a(href='javascript:;') Level 2
                  li
                    a(href='javascript:;')
                      | Level 2  
                      span.fa.arrow
                    ul.collapse
                      li
                        a(href='javascript:;') Level 3
                      li
                        a(href='javascript:;') Level 3
                      li
                        a(href='javascript:;')
                          | Level 3  
                          span.fa.arrow
                        ul.collapse
                          li
                            a(href='javascript:;') Level 4
                          li
                            a(href='javascript:;') Level 4
                          li
                            a(href='javascript:;')
                              | Level 4  
                              span.fa.arrow
                            ul.collapse
                              li
                                a(href='javascript:;') Level 5
                              li
                                a(href='javascript:;') Level 5
                              li
                                a(href='javascript:;') Level 5
                      li
                        a(href='javascript:;') Level 4
                  li
                    a(href='javascript:;') Level 2
              li
                a(href='javascript:;') Level 1
              li
                a(href='javascript:;')
                  | Level 1  
                  span.fa.arrow
                ul.collapse
                  li
                    a(href='javascript:;') Level 2
                  li
                    a(href='javascript:;') Level 2
                  li
                    a(href='javascript:;') Level 2
  // /#menu
// /#left