#left
  .media.user-media.bg-dark.dker
    .user-media-toggleHover
      span.fa.fa-user
    .user-wrapper.bg-dark
      a.user-link(href='')
        img.media-object.img-thumbnail.user-img(alt='User Picture', src='assets/img/user.gif')
        span.label.label-danger.user-label 16
      .media-body
        h5.media-heading Archie
        ul.list-unstyled.user-info
          li
            a(href='') Administrator
          li
            | Last Access :
            br
            small
              i.fa.fa-calendar
              |  16 Mar 16:32
  // #menu
  ul#menu.bg-dark.dker
    li.nav-header Menu
    li.nav-divider
    li
      a(href='dashboard.html')
        i.fa.fa-dashboard
        span.link-title  Dashboard
    li.menu-dropdown(class=(Array.isArray(current) && current[0]=='category') && 'active')
      a(href='javascript:void(0);')
        i.fa.fa-folder-open-o
        span.link-title  Danh mục
        span.fa.arrow
      ul.collapse(aria-expanded='false', class=(Array.isArray(current) && current[0]=='category') && 'in')
        li(class=(Array.isArray(current) && current[1]=='index') && 'current-route')
          a(href='/category')
            i.fa.fa-table
            |   Tất cả danh mục
        li(class=(Array.isArray(current) && current[1]=='create') && 'current-route')
          a(href='/category/create')
            i.fa.fa-plus
            |   Thêm danh mục mới
    li.menu-dropdown(class=(Array.isArray(current) && current[0]=='post') && 'active')
      a(href='javascript:void(0);')
        i.fa.fa-newspaper-o
        span.link-title  Bài viết
        span.fa.arrow
      ul.collapse(aria-expanded='false', class=(Array.isArray(current) && current[0]=='post') && 'in')
        li(class=(Array.isArray(current) && current[1]=='index') && 'current-route')
          a(href='/post')
            i.fa.fa-table
            |   Tất cả bài viết
        li(class=(Array.isArray(current) && current[1]=='create') && 'current-route')
          a(href='/post/create')
            i.fa.fa-plus
            |   Viết bài mới
    li.nav-divider
    li.menu-dropdown
            a(href='javascript:;')
              i.fa.fa-code
              span.link-title
                | Unlimited Level Menu
              span.fa.arrow
            ul.collapse
              li
                a(href='javascript:;')
                  | Level 1  
                  span.fa.arrow
                ul.collapse
                  li
                    a(href='javascript:;') Level 2
                  li
                    a(href='javascript:;') Level 2
                  li
                    a(href='javascript:;')
                      | Level 2  
                      span.fa.arrow
                    ul.collapse
                      li
                        a(href='javascript:;') Level 3
                      li
                        a(href='javascript:;') Level 3
                      li
                        a(href='javascript:;')
                          | Level 3  
                          span.fa.arrow
                        ul.collapse
                          li
                            a(href='javascript:;') Level 4
                          li
                            a(href='javascript:;') Level 4
                          li
                            a(href='javascript:;')
                              | Level 4  
                              span.fa.arrow
                            ul.collapse
                              li
                                a(href='javascript:;') Level 5
                              li
                                a(href='javascript:;') Level 5
                              li
                                a(href='javascript:;') Level 5
                      li
                        a(href='javascript:;') Level 4
                  li
                    a(href='javascript:;') Level 2
              li
                a(href='javascript:;') Level 1
              li
                a(href='javascript:;')
                  | Level 1  
                  span.fa.arrow
                ul.collapse
                  li
                    a(href='javascript:;') Level 2
                  li
                    a(href='javascript:;') Level 2
                  li
                    a(href='javascript:;') Level 2
  // /#menu
// /#left