extends ./layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/froala_editor.min.css')
block content
	h1= title
	p Welcome to #{title} abc
	textarea#test-editor
block scripts
	script(src='/javascripts/froala_editor.min.js')
	script(type='text/javascript').
		$('#test-editor').froalaEditor({
		heightMin: 280,
		// Button show xs
		toolbarButtonsXS: ['bold', 'italic', 'underline', 'fontFamily', 'fontSize', '-', 'insertTable', 'insertImage', 'undo', 'redo'],
		// Set the image upload URL.
		imageUploadURL: '/media/upload_image',
		// Load all images from folder
		imageManagerLoadURL: '/media/load_images'
		});